/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

.container {
    display: flex;
}

/* Aside */

.logo-img  {
    width: 180px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 0 20px;
}

.sidebar {
    width: 15%;
    height: 100vh;
}

.sidebar-content {  
    height: 100%;
    background-color: black;
    color: #fff;
}

.sidebar-content div {
    padding: 0 20px;
    padding-bottom: 8px;
}

.sidebar-content a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.header-content {
    height: 70px;
    background-color: chartreuse;
}

.small-icon {
    max-width: 16px;
    max-height: 16px;
}

.sidebar-content div:nth-child(5) {
    padding-top: 20px;
}
    

.sidebar-content .fa-plus-square {
    padding: 10px 0;
    padding-right: 10px;
    font-size: 40px;
}

.sidebar-content ul li {
    padding-bottom: 20px;
    padding-left: 10px;
}

/* MAIN */

.content {
    width: 85%;
    background-color: orange;
}

.header-content {
    display: flex;
    justify-content: flex-end;
   /* text-align: right; */
   align-content: flex-end;
}

.header-content .first-button {
    padding: 20px;
    border-radius: 30px;

}

/* menu */
.container .menu.container {
    padding: 10px;
}


.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content .card-spotify {
    max-width: 200px;
    max-height: 200px;
}

.main-content .card-spotify img {
    max-width: 100%;
}