/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: gray;
}

.container {
    height: calc(100vh - 80px);
} 

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: #fff;
}


/* UTILITIES */

.white-text {
    color: #fff;
}

.gray-text {
    color: gray;
}

.flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

.border-radius {
    border-radius: 50%;
}


/* Aside */

.logo-img  {
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 0 20px;
}

.small-logo {
    display: none;
}

aside {
    width: 230px;
    background-color: black;
    overflow-y: hidden;
}

.sidebar-content {  
    height: calc(100% - 80px);
    overflow-y: hidden;
}

.sidebar-content div {
    padding: 0 20px;
    padding-bottom: 8px;
}

.sidebar-content a {
    color: gray;
    cursor: pointer;
}

.header-content {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5)
}

.small-icon {
    max-width: 16px;
    max-height: 16px;
}
    
.sidebar-content .fa-plus-square {
    padding: 10px 0;
    padding-right: 10px;
    font-size: 40px;
}

.playlist.bold {
    padding-top: 20px;
}

.playlist-action {
    align-items: center;
}

.upper-menu {
    padding-left: 6px;
}

.upper-menu:hover {
    color: #fff;
}

.sidebar-content ul li {
    padding-bottom: 16px;
    padding-left: 20px;
    list-style: none;
    text-decoration: none;
}

.sidebar-content ul li a {
    color: gray;
}

.sidebar-content ul li:hover a {
    color: #fff;
}


/* Bottom Aside */

.bottom-aside {
    height: 80px;
    background-color: black; 
    overflow-y: hidden;
}

.bottom-aside.white-text {
    padding-left: 20px;
    padding-right: 20px;
}

.install-app  {
    display: inline-block;
    padding: 10px 0;
    padding-left: 10px;
    border-bottom: 1px solid gray;
}

.profile-img.flex {
    padding: 10px 0;
    align-items: center;
}

.profile-img.flex img {
    width: 25px;
    height: 25px; 
    margin-right: 5px;
    background-color: gray;
    border-radius: 50%;
}


/* CONTENT */

.content .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.content {
    position: relative;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    width: 85%;
    background-color: #161e27;
}

.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-content .first-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    padding: 20px 28px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gray;
    border-radius: 30px;
    cursor: pointer;
    transition: transform .2s;
}

.header-content .first-button:hover {
    transform: scale(1.1);
}

/* Top- menu */
.container .menu.flex {
    height: 50px;
}

.container .list.flex {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}

.container .menu.flex li {
    width: calc(100% / 6 - 10px);
    margin-right: 10px;
    list-style: none;
}

.container .menu.flex li a {
    text-decoration: none;
    font-size: 12px;
    color: gray;
}   

.container .menu.flex li:hover a {
    color: #fff;
} 

.underline {
    position: relative;
}

.underline::after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -8px;
    margin: 0 auto;
	left: 0;
    right: 0;
	width: 50%;
	background: green;  
}

.next.title.white-text {
    font-size: 1.5rem;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 8px;
}

#special-title {
    padding-bottom: 30px;
    padding-top: 50px;
}

 #special-title2 {
    padding-top: 50px;
} 



/* SPOTIFY CARDS section */

.general-container-galleries {
    height: 100%;
    padding: 80px 15px 0;
    overflow-y: auto;
} 

.galleries-text {
    padding-bottom: 20px;
    padding-left: 8px;
}

.general-container-galleries .cd-container.flex {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: calc(100% / 6 - 10px);
    padding: 5px;
}

.col .disc h4 {
    padding-top: 15px;
    color: #fff;
}

.col .disc .disc-text div {
    padding-top: 10px;
}

.disc {
    position: relative;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.fa-play-circle {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.image .overlay:hover .fa-play-circle {
    opacity: 1;
}

.disc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col .disc-text {
    text-align: center;
} 

.flex-start {
    justify-content: flex-start;
}


/* FOOTER */

footer {
    height: 80px;
    background-color: #3b3a3a
}

.player.flex {
    justify-content: space-between;
    align-items: center;
}

/* Footer left */

.player-album, .player-audio {
    flex-basis: 230px;
} 

.footer-left-img {
    max-width: 48x;
    max-height: 48px;
    padding: 6px;
    padding-left: 12px;
}

.player-album.flex {
    align-items: center;
}

.player-controller .icons {
    justify-content: center;
}

#special-text-size, #special-text-size2 a {
    font-size: 11px;
}

#special-text-size {
    color: #fff;
}

/* Footer icons */
.footer-icons {
    flex-direction: column;
    padding-left: 30px;
}

/* Central footer */

.player-controller.flex {
    flex-direction: column;
}

.icons.flex i {
    padding: 10px;
    font-size: 14px;
}

.time-bar.flex {
    align-items: center;
}

.footer-main-bar {
    position: relative;
    width: 400px;
    height: 3px;
    background: rgb(138, 127, 127);
}

.timer {
    padding-left: 12px;
    padding-right: 12px;
}

.footer-main-bar .short-bar {
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 30%;
}

.footer-main-bar:hover .short-bar {
    background-color: green;
}

.footer-main-bar:hover .short-bar::after {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    margin: 0;
    right: 0;
    top: -8px;
    border-radius: 50%;
    z-index: 10;
    background-color: #fff;
}


/* Footer right */

.player-audio {
    align-items: center;
} 

.player-audio {
    padding-right: 8px;
}

.player-audio .secondary-bar {
    position: relative;
    width: 100px;
    height: 3px;
    background-color:  rgb(138, 127, 127);
}

.player-audio .secondary-bar .short-bar-two {
    background-color: #fff;
    height: 100%;
    width: 20%;
}

.player-audio .secondary-bar:hover .short-bar-two {
    background-color: green;
}

.player-audio .secondary-bar:hover .short-bar-two::after {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    margin: 0;
    left: 12%;
    top: -4px;
    border-radius: 50%;
    z-index: 10;
    background-color: #fff;
}



/*__________________________________________________ /*

                /*RESPONSIVE */
/*---------------------------------------------------/*

            /* MEDIA QUERIES */

/*media MD max 1199px min 768px */

@media screen and (max-width: 1199px) and (min-width:768px) {
    .menu.flex .list.flex  {
        flex-wrap: wrap;
    }
    
    .container .list.flex {
        width: 100%;
        justify-content: center;
    }

    .menu.flex .list.flex li {
        flex-basis: calc(100% / 5 - 10px); 
        padding-bottom: 20px;
    } 

     /* Gallery */
    .col {
        flex-basis: calc(100% / 4 - 10px);
        padding: 5px;
    }
} 


 /*media S  max 767px  min 601px */

@media screen and (max-width: 767px) and (min-width: 601px) {
    .menu.flex .list.flex  {
        flex-wrap: wrap;
    }
    
    .container .list.flex {
        width: 100%;
        justify-content: center;
    }

    .menu.flex .list.flex li {
        flex-basis: calc(100% / 3 - 10px); 
        padding-bottom: 20px;
    } 

    /* Gallery */
    .col {
        flex-basis: calc(100% / 4 - 10px);
        padding: 5px;
    }

}  




/* media xs max 600px min 549px */

@media screen and (max-width: 600px) and (min-width:300px) {
    .sidebar {
        width: 15%;
    }

    .small-logo {     /*Aside */
        display: block;
        max-width: 90%;
        margin-top: 20px;
        margin-bottom: 25px;
        padding: 0 20px;
    }

    .logo-img {
        display: none;
    } 

    .sidebar-content.gray-text i {
        font-size: 25px;
        text-align: center;
    }
    
    .sidebar-content.gray-text .small-icon {
        max-width: 20px;
        max-height: 20px;
    }

    .sidebar-content.gray-text  ul {
        display: none;
    }

    .upper-menu {
        display: none;
    }

    .playlist.bold.white-text {
        display: none;
    }
    
    .playlist-action.flex {
        display: none;
    }

    .bottom-aside.white-text .install-app  {
        display: none;
    }

    .white-text.john-doe {
        display: none;
    }

    .bottom-aside.white-text .profile-img.flex img {
        width: 25px;
        height: 25px;
    }
    
    .bottom-aside.white-text .fa-arrow-alt-circle-down  {
        padding-right: 100px;
        font-size: 20px;
    }

    .header-content .first-button { 
        height: 18px;
        padding: 20px 28px;
        margin-right: 10px;
    }

    /* menu flex */
    .menu.flex .list.flex  {
        flex-wrap: wrap;
    }

    .container .list.flex {
        width: 100%;
        justify-content: center;
    }

    .menu.flex .list.flex li {
        flex-basis: calc(100% / 4 - 10px); 
        padding-bottom: 15px;
    } 

    /* gallery */

    #special-title {
        padding-top: 80px;
    }

    .col {
        flex-basis: calc(100% / 2 - 10px);
        padding: 5px;
    }

    .player-album, .player-audio {
        flex-basis: 100px;
    }

}












