* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.sidebar-content {
   /* display: flex; */
  /*  flex-direction: column; */
    max-width: 200px;
    height: 100vh;
    background-color: black;
    color: #fff;
}

.logo-img  {
    width: 115px;
    height: 115px;
}

.sidebar-content div {
     padding: 0 10px;
     padding-bottom: 8px;
}

.sidebar-content a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.small-icon {
    max-width: 16px;
    max-height: 16px;
}

.header-content {
    height: 50px;
    background-color: chartreuse;
}

.main-container {
  /*  display: flex; */
   /* flex-direction: row; */
    width: 80%;
    background-color: red;
}
